.search-input {
    background: #2A2F45;
    border: 0;
    border-radius: 2px;
    color: #FFFFFF;
    padding: 18px 20px;
    width: 100%;
    z-index: 1;
    position: relative;
}

.search-input::placeholder {
    color: #8A91AB;
}