.page-header {
    background: #2A2F45;
    padding: 17px 23px;
    transition: 0.5s;
}

@media (max-width: 768px) {
    .page-header {
        background: transparent;
        padding-left: 20px;
    }
}

.page-header__wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.page-header__title {
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: bold;
}
