.city-card__list {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 35px;
    row-gap: 30px;
    transition: .4s;
}

@media (max-width: 768px) {
    .city-card__list {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 40px;
        column-gap: 27px;
        row-gap: 25px;
    }
}

@media (max-width: 480px) {
    .city-card__list {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 35px;
        column-gap: 19px;
        row-gap: 20px;
    }
}
.city-card__item-link{
    display: flex;
    transition: .5s;
}
.city-card__item-link:hover, .city-card__item-link:focus {
    opacity: 0.7;
}